IOT_project/Second project/Node_red_file
[{"id":"9870d6e1.15d828","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"42c7a715.9c6f3","type":"tcp in","z":"9870d6e1.15d828","name":"","server":"server","host":"","port":"1234","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":240,"y":560,"wires":[["ee4c87a0.96fec8"]]},{"id":"641ed52a.b92974","type":"function","z":"9870d6e1.15d828","name":"Bash command creator","func":"var data = msg.payload;\nmsg.payload =  \"mosquitto_pub -h 'mqtt.thingspeak.com' -p '1883' -t 'channels/1118622/publish/US5VZ4D9VD51FP7M' -m '&field1=\" + data + \"&status=MQTTPUBLISH'\";\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":560,"wires":[["644bbe76.13bbd","686cea94.104eec"]]},{"id":"644bbe76.13bbd","type":"exec","z":"9870d6e1.15d828","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1290,"y":560,"wires":[[],[],[]]},{"id":"686cea94.104eec","type":"debug","z":"9870d6e1.15d828","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1030,"y":460,"wires":[]},{"id":"ee4c87a0.96fec8","type":"function","z":"9870d6e1.15d828","name":"String to number convertor","func":"var payload = msg.payload;\nvar integer = parseInt(payload, 10);\nif (isNaN(integer)) {\n} else {\nmsg.payload = integer;\nreturn msg;\n}","outputs":1,"noerr":0,"x":500,"y":560,"wires":[["12deabfd.abf31c"]]},{"id":"12deabfd.abf31c","type":"delay","z":"9870d6e1.15d828","name":"","pauseType":"rate","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"15","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":760,"y":560,"wires":[["641ed52a.b92974"]]}]
