IOT_project/Second project/Node_red_file
[{"id":"9870d6e1.15d828","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"42c7a715.9c6f3","type":"tcp in","z":"9870d6e1.15d828","name":"","server":"server","host":"","port":"1234","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":200,"y":520,"wires":[["2e3916d4.1969e2"]]},{"id":"641ed52a.b92974","type":"function","z":"9870d6e1.15d828","name":"Bash command creator","func":"var payload = msg.payload;\nmsg.payload =  \"mosquitto_pub -h 'mqtt.thingspeak.com' -p '1883' -t 'channels/1118622/publish/US5VZ4D9VD51FP7M' -m '\" + payload + \"&status=MQTTPUBLISH'\";\nreturn msg;","outputs":1,"noerr":0,"x":1310,"y":520,"wires":[["644bbe76.13bbd","686cea94.104eec"]]},{"id":"644bbe76.13bbd","type":"exec","z":"9870d6e1.15d828","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1570,"y":520,"wires":[[],[],[]]},{"id":"686cea94.104eec","type":"debug","z":"9870d6e1.15d828","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1310,"y":420,"wires":[]},{"id":"2e3916d4.1969e2","type":"switch","z":"9870d6e1.15d828","name":"Message classifier","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Usage","vt":"str"},{"t":"cont","v":"Temperature","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":520,"wires":[["eb6e0f7b.fb1d88"],["3a1b419d.85feee"]]},{"id":"eb6e0f7b.fb1d88","type":"string","z":"9870d6e1.15d828","name":"Usage","methods":[{"name":"toString","params":[]},{"name":"collapseWhitespace","params":[]},{"name":"replaceAll","params":[{"type":"str","value":"Usage:"},{"type":"str","value":"&field1="}]},{"name":"collapseWhitespace","params":[]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":650,"y":500,"wires":[["959896a8.603718"]]},{"id":"3a1b419d.85feee","type":"string","z":"9870d6e1.15d828","name":"Temperature","methods":[{"name":"toString","params":[]},{"name":"collapseWhitespace","params":[]},{"name":"replaceAll","params":[{"type":"str","value":"Temperature:"},{"type":"str","value":" &field2="}]},{"name":"collapseWhitespace","params":[]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":670,"y":540,"wires":[["959896a8.603718"]]},{"id":"959896a8.603718","type":"join","z":"9870d6e1.15d828","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":880,"y":520,"wires":[["12d3a849.d17418"]]},{"id":"12d3a849.d17418","type":"delay","z":"9870d6e1.15d828","name":"","pauseType":"rate","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"15","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1060,"y":520,"wires":[["641ed52a.b92974"]]}]
